body, h1, img, h2{
  margin: 0;
  padding: 0;
}
.fa-instagram{
  color: salmon;
}

a{
  text-decoration: none;
  color: rgb(51, 119, 204);
}

a:hover{
  color: #02a5fd;
}

header{
  position: relative;
  text-align: center;
  color: white;
}

.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
}

.intro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-family: 'Niconne', cursive, sans-serif;
  /* border: 5px dotted white; */
  display: inline-block;
}

.intro h4{
  margin: .6rem;
  font-size: 1.3em;
}

.intro h1{
  width: 100%;
  margin: 0 auto;

}

.intro::after{
  content: '';
  display: inline-block;
  background: white;
  height: 4px;
  position: absolute;
  top: 72%;
  width: 90px;
  right: 100%;
  margin: 0 12px;
}

.intro::before{
  content: '';
  display: inline-block;
  background: white;
  height: 4px;
  position: absolute;
  top: 72%;
  width: 90px;
  left: 100%;
  margin: 0 10px;
}

/* .intro h1::after{
  content: '';
  background: white;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  z-index: -1;
} */
.aboutme {
}

section h2{
  padding: 0 10px;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-family: 'Lato', sans-serif;
  font-weight: 1000;
  position: relative;
  display: table;
}

.container{
  padding: 40px;
  max-width: 860px;
  margin: 0 auto;
}

.about-title::before{
  content: '';
  display: inline-block;
  background-color: black;
  width: 60px;
  height: 2px;
  position: absolute;
  left: -48%;
  top: 50%;
  margin: 0 10px;
}

.about-title::after{
  content: '';
  display: inline-block;
  background-color: black;
  width: 60px;
  height: 2px;
  margin: 0 10px;
  position: absolute;
  top: 50%;
}
.container p{
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

footer{
  background: #c5ded7;
  padding: 3em 0;
}
footer p{
  font-size: 18px;
  text-align: center;
}
